# environment
.git/*
env/
venv/
.venv
.venv/

# cacje
__pycache__/
*.py[cod]

# apple
.idea
.DS_Store
._.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

# media and static
static/*
posts/static/*
media/*
!static/.gitkeep
!posts/static/.gitkeep
!media/.gitkeep

# db
db.sqlite3

# other
dump.json