<div class="card mb-3 mt-1 shadow-sm">
    {% load thumbnail %}
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img" src="{{ im.url }}">
    {% endthumbnail %}

    <div class="card-body">
        <p class="card-text">
            <a class="card-link muted" name="post_{{ post.id }}" href="{% url 'profile' author.username %}"><strong class="d-block text-gray-dark">@{{ author.username }}</strong></a>
            {{ post.text|linebreaksbr }}
        </p>

        {% if post.group %}
        <div class="text-right">
            #<a class="text-dark" href="{% url 'group' post.group.slug %}"><strong>{{ post.group.title }}</strong></a>
        </div>
        {% endif %}
        
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a 
                class="btn btn-sm text-muted" 
                href="{% if user.is_authenticated %}{% url 'post' author.username post.id %}{% else %}{% url 'login' %}{% endif %}" 
                role="button">Добавить комментарий</a>
                {% if user.is_authenticated and user.username == author.username%}
                    <a class="btn btn-sm text-muted" href="{% url 'post_edit' author.username post.id %}" role="button">Редактировать</a>
                {% endif %}
            </div>
            <small class="text-muted">{{ post.pub_date|date:"d M Y H:i" }}</small>
        </div>
    </div>
</div>
