{% extends 'base.html' %}
{% block title %}Публикации пользователя {{ author.username }}{% endblock %}
{% block content %}

    <main role="main" class="container">
        <div class="row">

            {% include "include/user_card.html" with author=author following=following %}
            
            <div class="col-md-9">
                {% include "include/post_card.html" with post=post %}
                {% include 'include/comments.html' with form=form items=items %}
            </div>
        </div>
    </main>

{% endblock %}
